# .env.example - generated with dotenvx

#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY=""

# .env
CLOUDFLARE_API_KEY=""
CLOUDFLARE_EMAIL=""
CLOUDFLARE_ZONE_ID=""
BASE_DOMAIN=""
CADDY_ADMIN=""